.hero{
    height: 100vh;
    width: 100%;
    animation: bgChange 12s infinite;
    background-position: center;
    background-size: cover;
}

@keyframes bgChange{
    100%{
        background-image: url(Images/banner-1714905_1280.jpg);
    }
    33%{
        background-image: url("Images/Product+Showcase-1.jpg");
    }
    66%{
        background-image: url("Images/StockSnap_CXFUHE76YB.jpg");
    }
}
.band{
    text-align: center;
    height: 300px;
}
.pb{
    font-size: 24px;
    font-family: sans-serif;
    word-spacing: 5px;
}
.pbp{
    color: rgb(154, 127, 127);
}
.team-section{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 10px;
    margin-top: ;
}
.card{
    text-align: center;
}
.card img{
    border-radius: 10px;
    object-fit: cover;
}
.sec{
    height: 600px;
    width: 100%;
    background-color: black;
    padding-top: 10px;
}
.tour{
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
}
.emm{
    color: aliceblue;
    text-align: center;
}