.hero{
    height: 100vh;
    width: 100%;
    animation: bgChange 12s infinite;
    background-position: center;
    background-size: cover;
}

@keyframes bgChange{
    100%{
        background-image: url(Images/banner-1714905_1280.jpg);
    }
    33%{
        background-image: url("Images/Product+Showcase-1.jpg");
    }
    66%{
        background-image: url("Images/StockSnap_CXFUHE76YB.jpg");
    }
}
.band{
    text-align: center;
    height: 300px;
}
.pb{
    font-size: 24px;
    font-family: sans-serif;
    word-spacing: 5px;
}
.pbp{
    color: rgb(154, 127, 127);
}
.team-section{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 10px;
    margin-top: ;
}
.card{
    text-align: center;
}
.card img{
    border-radius: 10px;
    object-fit: cover;
}
.sec{
    height: 600px;
    width: 100%;
    background-color: black;
    padding-top: 10px;
}
.tour{
    color: rgb(243, 249, 255);
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
}
.emm{
    color: aliceblue;
    text-align: center;
}
.ticket{
    color: rgb(6, 11, 15);
    list-style-type: none;
    background-color: rgb(243, 240, 240);
    padding-top:10px;
    padding-bottom: 5px
    ;
    max-width: 800px;
    margin: auto;
    border-radius: 3px;
}
.ticket li{
    border-bottom: 1px solid ;
    font-size: 24px;
    border-bottom-color: blueviolet;
    border-bottom-width: 2px;

}
.ticket li:last-child{
    border-bottom: none;
}
span{    background-color: brown;
    color: antiquewhite;
    margin-left: 20px;
}
.q{
    float: right;
    background-color: black;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    margin-right: 15px;
    line-height: 24px;
}
.newton{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    height: 400px;
    overflow: auto;
    width: 100%;
}
.buy{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    background-color: blueviolet;
    border-radius: 2px;
}
.New{
    background-color: rgb(232, 232, 232);
    object-fit: cover;
    
}
.ctwo{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    padding-bottom: 100px;
    padding-top:100px;
}
.conta{
    font-size: 24px;
    list-style-type: none;
    
}
.stwo{
    padding-bottom: 80px;
    padding-bottom: 80px;

}
input{
    padding:10px;
    margin-top: 50px;
    margin-left: 50px;

}
.ic{
    list-style: none;
    margin-bottom: 15px;
    color: aliceblue;
}
.map{
    height: 500px;
    width: 100%;
}